<div class="flex justify-center gap-4 mt-12 mb-8">
  <!-- Botón Anterior -->
  <button
    (click)="onPrevPage()"
    [disabled]="currentPage === 1"
    class="px-6 py-3 flex items-center gap-2 bg-gray-800 text-white rounded-lg disabled:opacity-50 disabled:cursor-not-allowed transition-all hover:bg-gray-700"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      fill="currentColor"
      class="w-5 h-5"
    >
      <path
        fill-rule="evenodd"
        d="M7.72 12.53a.75.75 0 0 1 0-1.06l7.5-7.5a.75.75 0 1 1 1.06 1.06L9.31 12l6.97 6.97a.75.75 0 1 1-1.06 1.06l-7.5-7.5Z"
        clip-rule="evenodd"
      />
    </svg>
    Anterior
  </button>

  <!-- Números de Página -->
  <div class="hidden md:flex items-center gap-2">
    @for (page of paginationArray; track page) {
    <button
      (click)="onPageChange(page)"
      [class]="
        page === currentPage
          ? 'w-10 h-10 flex items-center justify-center rounded-full bg-blue-600 text-white'
          : 'w-10 h-10 flex items-center justify-center rounded-full bg-gray-800 hover:bg-gray-700 text-white transition-colors'
      "
    >
      {{ page }}
    </button>
    }
  </div>

  <!-- Botón Siguiente -->
  <button
    (click)="onNextPage()"
    [disabled]="currentPage === totalPages"
    class="px-6 py-3 flex items-center gap-2 bg-gray-800 text-white rounded-lg disabled:opacity-50 disabled:cursor-not-allowed transition-all hover:bg-gray-700"
  >
    Siguiente
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      fill="currentColor"
      class="w-5 h-5"
    >
      <path
        fill-rule="evenodd"
        d="M16.28 11.47a.75.75 0 0 1 0 1.06l-7.5 7.5a.75.75 0 0 1-1.06-1.06L14.69 12 7.72 5.03a.75.75 0 0 1 1.06-1.06l7.5 7.5Z"
        clip-rule="evenodd"
      />
    </svg>
  </button>
</div>
